<h1>Mechanic Show Page</h1>
<p>Mechanic: <%=@mechanic.name%></p>
<p>Years of experience: <%=@mechanic.years_experience%></p>
<p>Rides:</p>
<ul><%@rides.each do |ride| %>
  <% if ride.open == true %>
  <li> <%=ride.name%> </li>
  <% end %>
<% end %> </ul>

<p>Add a ride to their workload:</p>

<%= form_with url: "/mechanics/#{@mechanic.id}", method: :patch, local: true do |form| %>
<%= form.hidden_field :mechanic, value: @mechanic.id %>
<%= form.label(:ride, 'Ride Id:') %>
<%= form.text_field :ride %>
<%= form.submit('Submit') %><br>
<% end %>
